/* *{
    margin: 0;padding: 0; box-sizing: border-box;
} */
.wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.left{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2rem;

}
.namelogo{
    font-size: 1.3rem;
    font-weight: bold;
}
.right{
    display: flex;
    flex: 1;
    align-items: center;
    font-weight: 400;
    flex-direction: row;
}
.list{
    display: flex;
    
}
.list>ul{
    display: flex;
    font-size: 20px;
    list-style: none;
    flex-direction: row;
    gap: 2rem;
    margin-right: 4rem;
    cursor: pointer;
}
.list>ul>li:hover{
    color: red;
}
.navbutton{
    flex: 0.51;
}
@media screen and (max-width: 480px){
    .list{
        display: none;
    }
    .navbutton{
        display: none;
    }
}
