.toggle{
    display: flex;
    justify-content: space-between;
    border: 2px solid blueviolet;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}
.toggle>*{
    height: 1rem;
    width: 1rem;
    color: orange;
}
.togglebutton{
    border-radius: 100%;
    background-color: orange;
    position: absolute;
}